@font-face{
font-family: "Intert";
src: url('../../fronts/Inter-Medium.otf');
font-weight: normal;
font-style: normal;
}
  
.page{
    font-family: "Intert", Arial, sans-serif;
    background-color: #2A2C2F;
    color: #FFFFFF;
}