.lead {
        box-sizing: border-box;
        max-width: 984px;
        min-width: 320px;
        padding-top: 56px;
        margin: 0 auto 0 auto;
        color: #FFFFFF;
        font-family: "Inter", Arial, sans-serif;
}

@media (max-width: 1024px) {
        .lead {
                padding-top: 48px;
        }
}