.header {
    box-sizing: border-box;
    padding: 28px 48px 0 48px;
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    gap: 18px;
    align-items: center;
    color: #FFFFFF;
    font-family: "Inter", Arial, sans-serif;
}

@media (max-width: 425px) {
	.header {
		padding: 16px 16px 0 16px;
	}
}