.place{
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    grid-template-rows: repeat(auto-fit, max-content);
    gap: 48px 40px;
}

.place:last-child{
    padding-bottom: 0;
}